<div class="flex items-center text-center p-8 min-h-[380px] bg-gradient-to-t from-gray-800 to-gray-600 text-white w-full font-[sans-serif]">
    <div class="max-w-4xl mx-auto">
      <h1 class="sm:text-4xl text-2xl font-bold">Stay up to date with your favourite motorsport championships</h1>
      <p class="mt-8 text-sm text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nuncet
        tempus blandit, metus mi consectetur nibh, a pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
        ultrices, non consequat mauris tincidunt. pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
        ultrices, non consequat mauris tincidunt.</p>
      <button type="button"
        class="px-6 py-3 mt-12 rounded-full text-white text-base transition tracking-wider font-semibold border-none outline-none bg-gray-600 hover:bg-gray-700">Getting started now</button>
    </div>
  </div>
  <div>
    
  </div>