<div
    class="flex flex-col items-center text-center p-8 bg-gradient-to-t from-gray-600 to-gray-800 text-white w-full font-sans">
    <h2 class="text-4xl mb-4">Last race</h2>
    <span class="fi" [class]="getCode(lastRace.Circuit.Location.country)"></span>
    <h2>{{lastRace.Circuit.Location.country}}</h2>
    <div class="p-8  text-white w-full font-sans rounded-lg ">
        <h2 class="text-xl mb-4">Last Race Podium</h2>
        <div class="flex justify-center gap-4">
            <div class="flex flex-col items-center text-gray-200">
                <h3 class="text-xl font-semibold mb-2">{{lastRace.Results[1].Driver.givenName}} {{lastRace.Results[1].Driver.familyName}}</h3>
                <p class="text-sm">{{lastRace.Results[1].Constructor.name}}</p>
            </div>
            <div class="flex flex-col items-center text-orange-200">
                <h3 class="text-xl font-semibold mb-2">{{lastRace.Results[0].Driver.givenName}} {{lastRace.Results[0].Driver.familyName}}</h3>
                <p class="text-sm">{{lastRace.Results[0].Constructor.name}}</p>
            </div>
            <div class="flex flex-col items-center text-amber-900">
                <h3 class="text-xl font-semibold mb-2">{{lastRace.Results[2].Driver.givenName}} {{lastRace.Results[2].Driver.familyName}}</h3>
                <p class="text-sm">{{lastRace.Results[2].Constructor.name}}</p>
            </div>
        </div>
    </div>
    
</div>

<div
    class="flex flex-col items-center text-center p-8 min-h-[380px] bg-gradient-to-t from-gray-800 to-gray-600 text-white w-full font-sans">
    <h1 class="text-4xl mb-4">F1 Schedule</h1>
    <div class="md:max-w-5xl mx-auto flex flex-wrap justify-center">
        @for (race of f1Schedule; track $index) {
        <div class="w-48 h-56 shadow-lg rounded-md m-3 bg-gray-500 p-2 hover:bg-slate-600 transition flex flex-col justify-between"
            [class]="race.past ? 'text-gray-400' : ''">
            <div>
                <h5>Round {{race.round}}</h5>
                <h4>{{race.raceName}}</h4>
            </div>
            <div>
                <span class="fi" [class]="getCode(race.Circuit.Location.country)"></span>
                <p>Location: {{race.Circuit.Location.country}}</p>
            </div>
            <p>{{race.date | datepipe }} {{race.time}}</p>
        </div>
        }
    </div>
</div>