<div class="bg-gradient-to-b from-gray-600 to-gray-800 text-white text-center">
    <h1 class="text-4xl mb-4 pt-4 md:pt-10">All your favorite single seaters schedules</h1>
    
    <div class="flex justify-around items-center text-center p-8  w-full font-sans">
        <img src="assets/Logos/F1-logo.png" alt="" class="h-32 p-2 cursor-pointer" [routerLink]="['/schedule/f1']" routerLinkActive="bg-gray-600 rounded-md">
        <img src="assets/Logos/F2-logo.png" alt="" class="h-32 p-2 cursor-pointer" [routerLink]="['/schedule/f2']" routerLinkActive="bg-gray-600 rounded-md">
        <img src="assets/Logos/F3-logo.png" alt="" class="h-32 p-2 cursor-pointer" [routerLink]="['/schedule/f3']" routerLinkActive="bg-gray-600 rounded-md">
        <img src="assets/Logos/FRECA-logo.png" alt="" class="h-32 p-2 cursor-pointer" [routerLink]="['/schedule/freca']" routerLinkActive="bg-gray-600 rounded-md">
    </div>
</div>

<router-outlet></router-outlet>